body {
    background-image: url('WoWmain.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;

}

* {
    margin: 0;
    padding: 0;
}

#container {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#player-pet, #computer-pet {
    color: white;
    /* background-color: black; */
    font-family: 'Folkard', sans-serif;
    text-shadow: 
    -1px 1px 0 #000000,
    1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
}

#player-pet {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: bisque; */
}

#empty {
    width: 400px
}

#computer-pet {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(220, 150, 64); */
}

#generate {
    height: 50px;
    width: 100px;
    margin-bottom: 4em;
    margin-right: 2em;
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#generate:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: generateButton 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes generateButton {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

#generate:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

#pet-names {
    width: 100%;
    height: 25%;
    /* background-color: aqua; */
    opacity: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* gap: 20%; */
    color: white;
    font-size: 2rem;

}

#game-screen {
    display: flex;
    justify-content: center;
    /* background-color: black; */
    /* opacity: 50%; */
    width: 100%;
    height: 80%;
}

#left-health, #right-health {
    width: 5%;
}


#left-bar, #right-bar {
    background: linear-gradient(to bottom, black 0%, black 0%, green 0%, green 100%);
    width: 100%;
    height: 90%;

}

#left-hp, #right-hp {
    background-color: red;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: white;
}

#battle-screen {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 85%;
    height: 100%;
}

#player-side, #computer-side {
    width: 50%;
    height: 100%;
}

#player-side {
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* #player-side :nth-child(1) {order: 1; }
#player-side :nth-child(2) {order: 2; }
#player-side :nth-child(3) {order: 3; }
#player-side :nth-child(4) {order: 4; } */

#center-board {
    /* background-color: rgb(255, 0, 238); */
    height: 100%;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#computer-side {
    /* background-color: brown; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.buttons {
    width: 50px;
    height: 50px
}

#player-pet-img, #computer-pet-img {
    /* background-color: azure; */
    width: 200px;
    height: 200px;
    opacity: 100%;
    border: 3px solid black;
    border-radius: 25%;

}

#player-dice, #computer-dice { 
    margin-top: 1rem; 
    width: 125px;
    height: 125px;
    border-radius: 10%;
    border: 5px solid gold;
}

#player-dice:hover, #computer-dice:hover {
    border: 10px solid black;
}

.dice {
    width: 100px;
}

#player-info, #computer-info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    /* border: 5px double black; */
    color: yellow;
    text-shadow: -1px 1px 0 #000,1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
    width: 250px;
    height: 150px;
    margin-bottom: 15px;
}


#player-special, #computer-special {
    border: 5px solid white;
    border-radius: 10%;
}

#player-heal, #computer-heal {
    border: 5px solid green;
    border-radius: 10%;
}

#player-damage, #computer-damage {
    border: 5px solid red;
    border-radius: 10%;
}

#player-abilities, #computer-abilities {
    margin-bottom: 10px;
}

@media screen and (max-width: 1200px) {
    #pet-names {

        font-size: 1.3rem;
    }

    #generate {
        height: 50px;
        width: 75px
    }

    #empty {
        width: 200px;
    }
    
}

@media screen and (max-width: 600px) {

    #empty {
        width: 0px;
    }
}